{
	"semi": true,
	"singleQuote": true,
	"printWidth": 130,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "auto"
}
